<form [formGroup]="triangleForm" data-ts="Form" class="triangle-form">
  <fieldset class="input-fieldset">
    <label class="input-label">
      <h1 class="triangle-form-header">Dimensions</h1>
      <div data-ts="Note">
        <i class="ts-icon-info"></i>
        <p>
          Please type the triangle dimensions as integers separated by commas,
          i.e. 20,20,20.
        </p>
      </div>
      <input type="text" required formControlName="dimensions" />
    </label>
  </fieldset>
  <button
    data-ts="Button"
    class="ts-primary"
    [disabled]="triangleForm.pristine"
    (click)="calculateTriangle()"
  >
    <span>Calculate <i class="ts-icon-proceed"></i> </span>
  </button>
  <button data-ts="Button" class="ts-tertiary" (click)="clearInput()">
    <span>Clear</span>
  </button>
</form>
